
@{
    ViewData["Title"] = "Request Access";
}

<h1>Request Access</h1>
<p>
    To request access to the serve team master schedule, please send your Google account email address <a href="mailto:micah@tcblueridge.com">micah@tcblueridge.com</a>.
</p>

