<h1>
    <img src="/images/tcbr.png" style="height: 50px;" />
    TCBR Serve Team Schedule
    <small>
        <button class="btn btn-link" type="button" [hidden]="loadingSchedule" (click)="refreshSchedule()">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            Refresh
        </button>
        <span [hidden]="!loadingSchedule">
            Loading...
        </span>
    </small>
</h1>
<div class="form-group">
    <input type="text" class="form-control" placeholder="Filter by name..." [(ngModel)]="filterName" />
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <div>
            <span class="pull-right">
                <strong>Key:</strong>
                <span class="label label-default" style="margin-left: 5px;">
                    Has Not Responded
                </span>
                <span class="label label-success" style="margin-left: 5px;">
                    Accepted
                </span>
                <span class="label label-danger" style="margin-left: 5px;">
                    Declined
                </span>
                <span class="label" style="color: #000; margin-left: 5px;">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    Need to Send Request
                </span>
            </span>
        </div>
        <table class="table table-striped table-hover table-schedule" *ngIf="schedule != null">
            <thead>
                <tr>
                    <th>Serve Area</th>
                    <th>Team</th>
                    <th>Position</th>
                    <th *ngFor="let date of schedule.scheduleDates">{{getDisplayDate(date)}}</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let serviceType of getServiceTypes()">
                    <tr class="servicetype">
                        <td [attr.rowspan]="getServiceTypeRowSpan(serviceType.key)"
                            class="servicetype"
                            [ngStyle]="getCellStyle(serviceType.key)">
                            {{serviceType.value}}
                        </td>
                        <td [attr.rowspan]="getTeamRowSpan(schedule.serviceTypeTeams[serviceType.key][0])"
                            class="team"
                            [ngStyle]="getCellStyle(serviceType.key, schedule.serviceTypeTeams[serviceType.key][0])">
                            {{schedule.teamNames[schedule.serviceTypeTeams[serviceType.key][0]]}}
                        </td>
                        <td [ngStyle]="getCellStyle(serviceType.key, schedule.serviceTypeTeams[serviceType.key][0], schedule.teamPositions[schedule.serviceTypeTeams[serviceType.key][0]][0])"
                            class="position">
                            {{schedule.teamPositions[schedule.serviceTypeTeams[serviceType.key][0]][0]}}
                        </td>
                        <td *ngFor="let date of schedule.scheduleDates"
                            class="person"
                            [ngStyle]="getCellStyle(serviceType.key, schedule.serviceTypeTeams[serviceType.key][0], schedule.teamPositions[schedule.serviceTypeTeams[serviceType.key][0]][0])">
                            <div *ngFor="let person of getPeople(serviceType.key, schedule.serviceTypeTeams[serviceType.key][0], schedule.teamPositions[schedule.serviceTypeTeams[serviceType.key][0]][0], date)">
                                <span class="label label-default" [ngClass]="getStatusClass(person)">
                                    <span *ngIf="!person.notificationSent" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    {{ person.name }}
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr class="position" *ngFor="let position of schedule.teamPositions[schedule.serviceTypeTeams[serviceType.key][0]] | slice : 1">
                        <td [ngStyle]="getCellStyle(serviceType.key, schedule.serviceTypeTeams[serviceType.key][0], position)"
                            class="position">
                            {{position}}
                        </td>
                        <td *ngFor="let date of schedule.scheduleDates"
                            class="person"
                            [ngStyle]="getCellStyle(serviceType.key, schedule.serviceTypeTeams[serviceType.key][0], position)">
                            <div *ngFor="let person of getPeople(serviceType.key, schedule.serviceTypeTeams[serviceType.key][0], position, date)">
                                <span class="label label-default" [ngClass]="getStatusClass(person)">
                                    <span *ngIf="!person.notificationSent" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    {{ person.name }}
                                </span>
                            </div>
                        </td>
                    </tr>

                    <ng-container *ngFor="let teamId of schedule.serviceTypeTeams[serviceType.key] | slice : 1">
                        <tr class="team">
                            <td [attr.rowspan]="getTeamRowSpan(teamId)"
                                class="team"
                                [ngStyle]="getCellStyle(serviceType.key, teamId)">
                                {{schedule.teamNames[teamId]}}
                            </td>
                            <td [ngStyle]="getCellStyle(serviceType.key, teamId, schedule.teamPositions[teamId][0])"
                                class="position">
                                {{schedule.teamPositions[teamId][0]}}
                            </td>
                            <td *ngFor="let date of schedule.scheduleDates"
                                class="person"
                                [ngStyle]="getCellStyle(serviceType.key, teamId, schedule.teamPositions[teamId][0])">
                                <div *ngFor="let person of getPeople(serviceType.key, teamId, schedule.teamPositions[teamId][0], date)">
                                    <span class="label label-default" [ngClass]="getStatusClass(person)">
                                        <span *ngIf="!person.notificationSent" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                        {{ person.name }}
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr class="position" *ngFor="let position of schedule.teamPositions[teamId] | slice : 1">
                            <td [ngStyle]="getCellStyle(serviceType.key, teamId, position)"
                                class="position">
                                {{position}}
                            </td>
                            <td *ngFor="let date of schedule.scheduleDates"
                                class="person"
                                [ngStyle]="getCellStyle(serviceType.key, teamId, position)">
                                <div *ngFor="let person of getPeople(serviceType.key, teamId, position, date)">
                                    <span class="label label-default" [ngClass]="getStatusClass(person)">
                                        <span *ngIf="!person.notificationSent" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                        {{ person.name }}
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
